*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body {
  min-height: 100vh;
  background-color: #fff;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
/* CSS variables */
:root {
  /* Primary colors */
  --color-head: #2e339d;
  --color-head-grad: linear-gradient(315deg, #2e339d 0%, #6ab0de 100%);
  /* Secondary colors */
  --color-secondary-btn: #4ea1d8;
  --color-secondary-btn-hover: #3e81ad;
  --color-purple: #aeb1e8;
  --color-darkpurple: #9498e0;
  --color-blue: #67e5a8;
  --color-darkblue: #1fb66d;
  /* Tertiary colors */
  --color-orange: #ffcf92;
  --color-darkorange: #d67800;
}

/*
================================
 Content
 
================================
*/

/* General elements */

/* Button */
.btn {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}
/* box */
.box--theme--orange {
  background-color: var(--color-orange);
  border: 3px solid var(--color-darkorange);
}
.box--theme--purple {
  background-color: var(--color-purple);
  border: 3px solid var(--color-darkpurple);
}
.box--theme--blue {
  background-color: var(--color-blue);
  border: 3px solid var(--color-darkblue);
}

/* Class modifiers */

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* 
 *
 * Head
 *
 *
 */

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-head);
  background: var(--color-head-grad);
}
.head__item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.head__item-label--title {
  margin: 1.5rem 2rem;
  font-size: 3.1rem;
  font-weight: 300;
  color: white;
}
.head__item-link > img {
  width: 5rem;
  height: 5rem;
  filter: drop-shadow(10px 5px 12px var(--color-darkpurple));
}
.head__item-btn--update {
  padding: 1rem;
  font-weight: 700;
  color: white;
  background-color: var(--color-secondary-btn);
}
.head__item-btn:hover {
  background-color: var(--color-secondary-btn-hover);
}
.head__nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0.5rem;
}
.head__nav-item {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 10px 0;
}
.head__nav-item > a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  transition: background-image 700ms;
}
.main .box--hero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 1rem black;
  transform: translate(-50%, -50%);
  transition: all 700ms;
}

/* 
 *
 * Main
 *
 * * * Box
 *
 *
 */

.main .box__label--title {
  font-size: 2.1rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
.main .box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 1rem;
}
.main .box__item--0 {
  width: 100%;
}
.main .box__item--1 {
  display: flex;
  width: 100%;
}

/* 
 *
 * Main
 *
 * * * Box
 *
 * * * * * Item
 * 
 *
 */

.main .box__item-img {
  display: inline-block;
  height: 100%;
  margin: 1rem;
  background-color: white;
  border-radius: 50%;
}
.main .box__item-label--unit {
  margin: 2px 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
